<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все посты найденные по запросу {{request}} </title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<main>

    <a href="/" class="link">Назад</a>

    <h1>Посты по запросу {{request}}</h1>
    {% for item in items %}
    <div class="post">
        <img src={{item.pic}} width="100%" alt="">
        <p>{{item.content}} <br> </p>
    </div>
    <hr>
    {% endfor %}

    <a href="/upload" class="button">Добавить пост</a>

</main>
</body>
</html>
